/*body{
    background-color: rgb(179, 179, 179);
}*/

.colorlink{
    color: #5d779e!important;
}

.btnBlue{
    background-color: #5d779e!important;
    color: white;
}

.btnBlueDark{
    background-color: #2e3c50!important;
    color: white;
}

.btnBlueDarkOutline{
    border: 1px #2e3c50 solid;
    background-color: white;
    color: #2e3c50;
}

/* .btnBlueDarkOutline:hover{
    background-color: #2e3c50!important;
    color: white;
} */

.linklogin{
    text-decoration: none;
    font-size: 14px;
}

.link-button { 
    background: none;
    border: none;
    color: #0066ff;
    text-decoration: none;
    cursor: pointer; 
}

.linkBtnDelete{
    background-color : rgba(182, 24, 24, 0.774);
    border: none;
    padding: 5px 0;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer; 
}

.linkBtnDeleteProduct{
    background-color : rgba(201, 201, 201, 0.774);
    border: none;
    padding: 5px 0;
    color: #181818;
    text-decoration: none;
    cursor: pointer; 
}

.linkBtnDeleteProduct:hover{
    background-color : rgba(77, 126, 182, 0.774);
}

.linkBtnDelete:hover{
    background-color : rgba(255, 0, 0, 0.774);
}

.bgadmin{
    background-color: #383838;
}

.bg-grey{
    background-color: #e4e4e4c7;
}

.bg-greyblue{
    background-color: #868686a2;
}

.radius-top-left{
    border-top-left-radius: 3px;
}
.radius-top-right{
    border-top-right-radius: 15px;
}

.radius-bottom-left{
    border-bottom-left-radius: 
    15px;
}


.radius-bottom-right{
    border-bottom-right-radius: 30px;
}