/*body{
    background-color: rgb(179, 179, 179);
}*/

.colorlink{
    color: #00A9E8!important;
}

.linklogin{
    text-decoration: none;
    font-size: 14px;
}

.link-button { 
    background: none;
    border: none;
    color: #0066ff;
    text-decoration: underline;
    cursor: pointer; 
}