/*body{
    background-color: rgb(179, 179, 179);
}*/

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.349) rgb(255, 255, 255);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #267691;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 50px;
  border: 1px solid rgb(255, 255, 255);
}

.badgeCart{
  position: absolute; 
  top: -15px; 
  right: -15px; 
  background-color: #ffea28; 
  color: black; 
  height: 30px; 
  width: 30px; 
  border-radius: 50px; 
  text-align: center; 
  line-height: 30px; 
  vertical-align: middle;
}

.activeImg{
  border : 3px solid #267691;
}

.colorlink{
    color: #267691!important;
}

.btnBlueDark{
  background-color: #267691!important;
  color: #ffffff!important;
}

.btnBlueDark4{
  background-color: #267691!important;
  color: #ffffff!important;
}

.btnBlueDark4:hover{
  background-color: #1f6075!important;
  color: #ffffff!important;
}

.btnBlueDarkOutline {
  background-color: #ffffff!important;
  color: #267691!important;
  border: 1px solid #267691;
}

.btnBlueDarkOutline:hover {
  background-color: #267691!important;
  color: #ffffff!important;
}

.buthover:hover{
  background-color: #ffffff!important;
  color: #267691!important;
  border: 1px solid #267691;
}

.btnBlueDark3{
  background: linear-gradient(135deg, rgb(34, 34, 34), #267691);
  /*background-color: #267691!important;*/
  color: white;
}


.btnBlueDark2{
  background: linear-gradient(135deg, rgb(34, 34, 34), #267691);
  /*background-color: #267691!important;*/
  color: #ffffff!important;
}

.btnBlueDark2:hover{
  background-color: #34a0c4!important;
  color: #ffffff!important;
}


.btnYellow{
    color: rgb(0, 0, 0);
    background-color: #ffea28;
}


.linklogin{
    text-decoration: none;
    font-size: 14px;
}

.link-button { 
    background: none;
    border: none;
    color: #0066ff;
    text-decoration: underline;
    cursor: pointer; 
}

.card__image {
    display: block;
    width: 100%;
    height: auto;
}

.cardRelative {
    position: relative;
    transition: all .5s ease-in;
}

.card__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, .2);
}

.overlay__text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.button {
    background-color: #267691;
    border: 2px solid white;
    padding: 10px;
    margin-top: 2rem;
    display: inline-block;
    color: white;
    text-decoration: none;
}
.buttons {
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  /*   padding: 2em 0em; */
  }
  
  .containerglass {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:  40px 0px;
    width: 240px;
  }

  .containerglass2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:  20px 0px;
    width: 100%;
  }

.btnglass {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btnglass:hover {
    text-decoration: none;
  }

  .btnglass2 {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 100%;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btnglass2:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .effect01 {
    color: #FFF;
    border: 2px solid #267691;
    box-shadow:0px 0px 0px 1px #267691 inset;
    background: linear-gradient(135deg, rgb(34, 34, 34), #267691);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .effect01:hover {
    border: 2px solid #666;
    background-color: #FFF;
    box-shadow:0px 0px 0px 4px #EEE inset;
  }
  
  /*btn_text*/
  .effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .effect01:hover span{
    letter-spacing: 0.13em;
    color: rgb(255, 255, 255);
  }
  
  /*highlight*/
  .effect01:after {
    background: #FFF;
    border: 0px solid #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
  }
  .effect01:hover:after {
    background: #FFF;
    border: 20px solid #000;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }


    /*btn_background*/
    .effect02 {
      color: rgb(0, 0, 0);
      border: 2px solid #ffea28;
      box-shadow:0px 0px 0px 1px #ffea28 inset;
      background-color: #ffea28;
      overflow: hidden;
      position: relative;
      transition: all 0.3s ease-in-out;
    }
    .effect02:hover {
      border: 2px solid #666;
      background-color: #FFF;
      box-shadow:0px 0px 0px 4px #EEE inset;
    }
    
    /*btn_text*/
    .effect02 span {
      transition: all 0.2s ease-out;
      z-index: 2;
    }
    .effect02:hover span{
      letter-spacing: 0.13em;
      color: #333;
    }
    
    /*highlight*/
    .effect02:after {
      background: #FFF;
      border: 0px solid #000;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .8;
      position: absolute;
      top: -50px;
      -webkit-transform: rotate(35deg);
              transform: rotate(35deg);
      width: 50px;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
      z-index: 1;
    }
    .effect02:hover:after {
      background: #FFF;
      border: 20px solid #000;
      opacity: 0;
      left: 120%;
      -webkit-transform: rotate(40deg);
              transform: rotate(40deg);
    }

.text-bluedark{
    color: #141d37!important;
}

.text-bluelight{
    color: #267691!important;
}